<div class="row" style="width:900px; height: 300px">
    <div class="row" style="width:100%;">
        <div id="editStorageHierarchyList-container" style="width:100%;">
            <div style="padding-top: 10px;padding-bottom:20px;padding-left: 3px" class="pi-dialog-info">{{Dialog.templatedata.editMaterialStorage}}</div>
            <div style="padding-left: 3px">
                    <sit-property-grid sit-id="editStorageHierarchyPropertyGrid"
                                       sit-layout="Horizontal"
                                       sit-type="Fixed"
                                       sit-mode="edit"
                                       sit-columns="1"
                                       sit-data="Dialog.templatedata.sequenceProperty.Properties">
                    </sit-property-grid>
            </div>
        </div>
    </div>
</div>