<div class="content-area content-area-relative" style="height: 100%" id="itemlist">
    
    <div>
        <sit-pi-table sit-pi-table-id="StorageHierarchyList"
                      sit-config="vm.StorageHierarchyListTableConfig"
                      sit-pi-toolbar-buttons="vm.StorageHierarchyListToolbarButtons"
                      on-command-clicked="vm.onActionClicked(command)"
                      sit-pi-toolbar-visible="!vm.isEquipmentMaterialActionBarHide"
                      sit-pi-config="vm.StorageHierarchyListDataConfig"
                      sit-view-mode="grid">
        </sit-pi-table>
    </div>
</div>
