
<DSL Version="1.14">
    <Project>
        <Name>Ordenes.ORPOMModel</Name>
        <Version>01.00.00</Version>
        <Prefix>OR</Prefix>
        <Domain>PICore</Domain>
        <DomainAcronym>OR</DomainAcronym>
        <Guid>55ef912b-cc0c-4bd9-b505-a51e11ef35d2</Guid>
		<ProjectKind>PomExtension</ProjectKind>
        <ShortName>Ordenes</ShortName>
    </Project>
    <References>
		<Project>
			<Name>UDM_RF.RFModel</Name>
			<Version>07.04.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>ReferenceData</Domain>
			<DomainAcronym>RF</DomainAcronym>
			<Guid>b269393d-8ab1-41c1-9337-181487273e8f</Guid>
		</Project>
		<Project>
			<Name>TSK_MS.MSModel</Name>
			<Version>09.04.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>f3e83191-3478-457f-897d-845cc90e21cc</Guid>
		</Project>
		<Project>
			<Name>BPF_MS.MSModel</Name>
			<Version>06.04.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>6fe8fd43-9bb0-4b9f-88d7-cd31ef79ca86</Guid>
		</Project>
		<Project>
			<Name>EQU_MS.MSModel</Name>
			<Version>08.04.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>ac738ed8-106a-493a-b34b-74ca1d725a2e</Guid>
		</Project>
		<Project>
			<Name>EQU_OP.OPModel</Name>
			<Version>08.04.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>OperationalData</Domain>
			<DomainAcronym>OP</DomainAcronym>
			<Guid>f6d3497a-ae95-4434-bb5c-2ba60582394f</Guid>
		</Project>
		<Project>
			<Name>TSK_OP.OPModel</Name>
			<Version>11.04.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>OperationalData</Domain>
			<DomainAcronym>OP</DomainAcronym>
			<Guid>0e68c3a3-b649-45f4-81be-d9013ddc8548</Guid>
		</Project>
		<Project>
			<Name>NUM_OP.OPModel</Name>
			<Version>02.04.00</Version>
			<Prefix>Siemens.OpcenterEX.FN</Prefix>
			<Domain>OperationalData</Domain>
			<DomainAcronym>OP</DomainAcronym>
			<Guid>d6a508b6-958b-4054-bb9a-d3c54f6ffba2</Guid>
		</Project>
		<Project>
			<Name>BPF_OP.OPModel</Name>
			<Version>09.04.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>OperationalData</Domain>
			<DomainAcronym>OP</DomainAcronym>
			<Guid>1d5ef0c6-a8e9-4928-b1b4-ce7158746485</Guid>
		</Project>
		<Project>
			<Name>MAT_MS.MSModel</Name>
			<Version>05.04.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>e4cb0739-232d-491f-ae07-1146e83707ac</Guid>
		</Project>
		<Project>
			<Name>MAT_OP.OPModel</Name>
			<Version>06.04.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>OperationalData</Domain>
			<DomainAcronym>OP</DomainAcronym>
			<Guid>60ed4660-135d-4f02-a038-e985798d4e5a</Guid>
		</Project>
		<Project>
			<Name>UDM_MS.MSModel</Name>
			<Version>21.00.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>1d9329bd-1f81-4bfb-ab55-6771f1e5acaf</Guid>
		</Project>
		<Project>
			<Name>PITnT_OP.OPModel</Name>
			<Version>19.00.00</Version>
			<Prefix>Siemens.SimaticIT.UAPI</Prefix>
			<Domain>OperationalData</Domain>
			<DomainAcronym>OP</DomainAcronym>
			<Guid>caf4e8b4-886d-45d7-a7db-21f13f43a726</Guid>
		</Project>
		<Project>
			<Name>ProductionContext_RF.RFModel</Name>
			<Version>15.00.00</Version>
			<Prefix>Siemens.SimaticIT.UAPI</Prefix>
			<Domain>ReferenceData</Domain>
			<DomainAcronym>RF</DomainAcronym>
			<Guid>6cddc998-80c6-42f4-85af-36518b1743df</Guid>
		</Project>
		<Project>
			<Name>PIEquipment_MS.MSModel</Name>
			<Version>16.00.00</Version>
			<Prefix>Siemens.SimaticIT.UAPI</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>093e7622-cfaa-48a0-8a1a-a49390d637b5</Guid>
		</Project>
		<Project>
			<Name>PIEquipment_OP.OPModel</Name>
			<Version>17.00.00</Version>
			<Prefix>Siemens.SimaticIT.UAPI</Prefix>
			<Domain>OperationalData</Domain>
			<DomainAcronym>OP</DomainAcronym>
			<Guid>fb0b0923-5f22-494d-a3c7-654ef3c957d2</Guid>
		</Project>
		<Project>
			<Name>Configuration_RF.RFModel</Name>
			<Version>12.00.00</Version>
			<Prefix>Siemens.OpcenterEX</Prefix>
			<Domain>ReferenceData</Domain>
			<DomainAcronym>RF</DomainAcronym>
			<Guid>03841863-9c4a-45bb-a6b6-888e3b3d02af</Guid>
		</Project>
		<Project>
			<Name>ALG_MS.MSModel</Name>
			<Version>02.04.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>d2ab82fe-1960-4573-a394-d3a66107f76e</Guid>
		</Project>
		<Project>
			<Name>ALG_OP.OPModel</Name>
			<Version>02.04.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>OperationalData</Domain>
			<DomainAcronym>OP</DomainAcronym>
			<Guid>b1d04fd0-ea08-4a52-adc7-3406ed992edc</Guid>
		</Project>
		<Project>
			<Name>ApplicationLogExt.OPModel</Name>
			<Version>14.00.00</Version>
			<Prefix>Siemens.OpcenterEX.PR</Prefix>
			<Domain>OperationalData</Domain>
			<DomainAcronym>OP</DomainAcronym>
			<Guid>34b21db1-cc56-48bb-9049-625a30657ae5</Guid>
		</Project>
		<Project>
			<Name>ProductionHistory_MS.MSModel</Name>
			<Version>10.00.00</Version>
			<Prefix>Siemens.OpcenterEX.FN</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>86cc7cd6-a648-4ec6-ad7c-8c0ef7238cac</Guid>
		</Project>
		<Project>
			<Name>ProductionHistory_OP.OPModel</Name>
			<Version>11.00.00</Version>
			<Prefix>Siemens.OpcenterEX.FN</Prefix>
			<Domain>OperationalData</Domain>
			<DomainAcronym>OP</DomainAcronym>
			<Guid>bf60f4c8-f87b-421c-b98d-6c59fd18474b</Guid>
		</Project>
		<Project>
			<Name>Search_RF.RFModel</Name>
			<Version>15.00.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>ReferenceData</Domain>
			<DomainAcronym>RF</DomainAcronym>
			<Guid>b6d398d1-f9ea-4306-9c81-ad4b7f53e69b</Guid>
		</Project>
		<Project>
			<Name>EquipAllocation_MS.MSModel</Name>
			<Version>14.00.00</Version>
			<Prefix>Siemens.OpcenterEX.PR</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>1e946a78-d6a9-4f3b-92f4-a05c44e87b0f</Guid>
		</Project>
		<Project>
			<Name>EquipAllocation_OP.OPModel</Name>
			<Version>17.00.00</Version>
			<Prefix>Siemens.OpcenterEX.PR</Prefix>
			<Domain>OperationalData</Domain>
			<DomainAcronym>OP</DomainAcronym>
			<Guid>fdb62b4c-4fe6-45a8-b94d-4a98da24246a</Guid>
		</Project>
		<Project>
			<Name>Maintenance_OP.OPModel</Name>
			<Version>12.00.00</Version>
			<Prefix>Siemens.OpcenterEX</Prefix>
			<Domain>OperationalData</Domain>
			<DomainAcronym>OP</DomainAcronym>
			<Guid>ba20285e-decd-4719-9a12-e82f6f979a1a</Guid>
		</Project>
		<Project>
			<Name>CHR_MS.MSModel</Name>
			<Version>10.04.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>d85b6a83-0a46-4c2e-a180-8ab017c780e1</Guid>
		</Project>
		<Project>
			<Name>DEF_MS.MSModel</Name>
			<Version>05.04.00</Version>
			<Prefix>Siemens.OpcenterEX.FN</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>ae1fd607-c550-4a11-b5d5-adaf3e6d2cb1</Guid>
		</Project>
		<Project>
			<Name>ES_MS.MSModel</Name>
			<Version>05.04.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>48c08e96-a844-47b6-a0a8-4d92062de989</Guid>
		</Project>
		<Project>
			<Name>CHR_OP.OPModel</Name>
			<Version>14.04.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>OperationalData</Domain>
			<DomainAcronym>OP</DomainAcronym>
			<Guid>230ea356-4f17-4e24-8ec6-1cc43d41b1ca</Guid>
		</Project>
		<Project>
			<Name>ES_SD.SDModel</Name>
			<Version>05.04.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>SystemData</Domain>
			<DomainAcronym>SD</DomainAcronym>
			<Guid>fd9b7a5c-2bec-40d8-b4cd-a73beb9d2d75</Guid>
		</Project>
		<Project>
			<Name>PIMaterial_OP.OPModel</Name>
			<Version>19.00.00</Version>
			<Prefix>Siemens.SimaticIT.UAPI</Prefix>
			<Domain>OperationalData</Domain>
			<DomainAcronym>OP</DomainAcronym>
			<Guid>a85cd849-6450-4783-818d-a234751625c2</Guid>
		</Project>
		<Project>
			<Name>PIMaterial_MS.MSModel</Name>
			<Version>15.00.00</Version>
			<Prefix>Siemens.SimaticIT.UAPI</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>05cc2347-6936-41c2-a184-411d44294525</Guid>
		</Project>
		<Project>
			<Name>PICore_OP.OPModel</Name>
			<Version>25.00.00</Version>
			<Prefix>Siemens.SimaticIT.UAPI</Prefix>
			<Domain>OperationalData</Domain>
			<DomainAcronym>OP</DomainAcronym>
			<Guid>b703dba9-161f-4367-a1a7-fccc15715338</Guid>
		</Project>
		<Project>
			<Name>Sampling_MS.MSModel</Name>
			<Version>15.00.00</Version>
			<Prefix>Siemens.OpcenterEX.PR</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>1946173b-5efd-48f8-b17b-c746bb18f107</Guid>
		</Project>
		<Project>
			<Name>PICore_MS.MSModel</Name>
			<Version>22.00.00</Version>
			<Prefix>Siemens.SimaticIT.UAPI</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>c2f31bef-07d2-4aef-883a-12a9e4f579c4</Guid>
		</Project>
		<Project>
			<Name>UDM_OP.OPModel</Name>
			<Version>22.00.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>OperationalData</Domain>
			<DomainAcronym>OP</DomainAcronym>
			<Guid>0886e464-6b5f-4ddf-90ad-8d539dbe155c</Guid>
		</Project>
		<Project>
			<Name>PIOrder_OP.OPModel</Name>
			<Version>17.00.00</Version>
			<Prefix>Siemens.SimaticIT.UAPI</Prefix>
			<Domain>OperationalData</Domain>
			<DomainAcronym>OP</DomainAcronym>
			<Guid>8ca4bdc1-7aa9-4dfb-a44e-481b23b3f958</Guid>
		</Project>
		<Project>
			<Name>PICore.PIPOMModel</Name>
			<Version>26.00.00</Version>
			<Prefix>Siemens.SimaticIT.UAPI</Prefix>
			<Domain>PICore</Domain>
			<DomainAcronym>PI</DomainAcronym>
			<Guid>a1b539c3-4608-486f-8848-4314bd7067f9</Guid>
		</Project>
		<Project>
			<Name>AGW_MS.MSModel</Name>
			<Version>09.02.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>12e88924-c168-4020-86d9-46b30112e8f0</Guid>
		</Project>
		<Project>
			<Name>ATN_MS.MSModel</Name>
			<Version>08.02.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>bf24f074-861a-47ce-abb9-7b3541e92917</Guid>
		</Project>
		<Project>
			<Name>DSG_SD.SDModel</Name>
			<Version>02.04.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>SystemData</Domain>
			<DomainAcronym>SD</DomainAcronym>
			<Guid>ef03b075-949e-4d90-bf44-01bdcdf1edf5</Guid>
		</Project>
		<Project>
			<Name>PRM_MS.MSModel</Name>
			<Version>03.04.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>caaab03c-210a-4f11-a20d-6fe924b5b001</Guid>
		</Project>
		<Project>
			<Name>CT_OP.OPModel</Name>
			<Version>22.00.00</Version>
			<Prefix>Siemens.SimaticIT.UAPI</Prefix>
			<Domain>OperationalData</Domain>
			<DomainAcronym>OP</DomainAcronym>
			<Guid>7f781399-cf03-47f1-887e-5552f44d5bc9</Guid>
		</Project>
		<Project>
			<Name>Read_Chn.MSModel</Name>
			<Version>18.00.00</Version>
			<Prefix>Siemens.SimaticIT.UAPI</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>6c0c68ad-c3be-4574-a371-65b7e92453e0</Guid>
		</Project>
		<Project>
			<Name>CT_MS.MSModel</Name>
			<Version>18.00.00</Version>
			<Prefix>Siemens.SimaticIT.UAPI</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>81209a0b-2e46-4199-abd8-934a48a24246</Guid>
		</Project>
    </References>
</DSL>