<div style="width:900px; height: 300px">

    <div id="new-lot-container" style="padding-top: 20px;" class="clear-before sidepanel-container-height">
        {{Dialog.templatedata.MaterialReqFromLotCreationInfo}}
        <div style="padding-top: 30px;">
            <sit-property-grid sit-id="addLotToMaterialRequirementPropertyGrid"
                               sit-layout="Horizontal"
                               sit-type="Fixed"
                               sit-mode="edit"
                               sit-columns="1"
                               sit-data="Dialog.templatedata.Properties">
            </sit-property-grid>
        </div>
    </div>

</div>