.shopfloor-typo {
    .pl-property-grid-list sit-property:nth-child(2) .pl-label {
        padding: 0 16px 4px 0 !important;
    }

    sit-property-grid-layout {
        sit-property {
            line-height: 28.5px !important;

            span {
                font-size: 18px !important;
            }
        }
    }

    .sit-navigation-tabs {
        margin: 10px;

        ul.tabset > .navbar-nav-tab > a .sit-nav-tab-label {
            font-size: 18px !important;
            line-height: 28.5px !important;
        }
    }

    /*table tbody tr td {
        font-size: 18px !important;
    }

    .ngHeaderText, #group-text-container, .sit-icv-footer-infinite-scroll-label {
        font-size: 18px !important;
    }

    .ngCellText {
        font-size: 18px !important;

        span {
            font-size: 18px !important;
        }
    }

    #header-container {
        height: 32px !important;

        .ngHeaderContainer {
            height: 32px !important;

            .ngHeaderScroller {
                height: 32px !important;

                .ngHeaderCell {
                    height: 32px !important;

                    .ngVerticalBar {
                        height: 32px !important;
                    }
                }
            }
        }
    }*/

    /*#data-row-container {

        div {
            height: 45px !important;

            .ngVerticalBar {
                height: 45px !important;
            }

            div {
                height: 45px !important;

                #data-cell-container {
                    height: 45px !important;

                    #text-container {
                        line-height: 22px;
                    }
                }
            }
        }
    }*/
}
