// Custom Selectors:
@ng-form-selector: ng-form;
@sit-checkbox-selector: sit-checkbox;
@sit-pi-table-selector: sit-pi-table;
@sit-tile-view-selector: sit-tile-view;
@sit-pi-work-master-context-selector: sit-pi-work-master-context;
@sit-pi-work-order-context-selector: sit-pi-work-order-context;
@sit-filter-selector: sit-filter;
@sit-fullscreen-dialog-selector: sit-fullscreen-dialog;
@sit-fullscreen-header-selector: sit-fullscreen-header;

// Default values that can be overridden:
@selected-color: gray;
@text-color: white;
@height: 44px;
@pointer-background-color: #55a0b9;
@operation-diagram-border-color: white;
@background-color: #828282;
@background-color2: #323232;

.pi-task-def-parameters {
    height: calc(100% - 10px) !important;
}

.pi-ux-shopfloor {

    .commandbar-container-vertical {
        width: 86px;
        position: fixed;
        top: 0;
        right: 0;

        .commandBarDropdownMenuAlignRight {
            right: 86px !important;
        }

        .btnMenu {
            height: 48px;
            padding: 15px 15px;
        }

        .CommandToolDropdown {
            width: 86px;

            div {
                width: 86px;

                .vertical-group-command-image-label {
                    width: 68px;
                    height: 42px;
                    margin: 4px 4px;

                    em {
                        width: 36px;
                        height: 36px;
                    }
                }
            }
        }

        .container-fluid {
            width: 86px;
        }

        .vertical-command-button {
            width: 86px;

            .MainCommandImage {
                width: 86px;

                .vertical-command-image {
                    width: 60px;
                    height: 60px;
                    margin: 4px 4px;
                }
            }
        }

        .command-mom-icon {
            width: 36px;
            height: 36px;
        }

        .btnMenu {
            .menuLabel {
                font-size: 18px;
            }
        }
    }

    .side-panel-button {
        min-height: @height !important;
        font-size: 18px !important;
        line-height: 28.5px !important;
        padding-left: 16px;
        padding-right: 16px;
    }

    .validator-control,
    datalist {
        min-height: @height !important;
        font-size: 18px !important;
        line-height: 28.5px !important;
    }

    input[type='radio'],
    input[type='checkbox'] {
        min-height: 24px !important;
        min-width: 24px !important;
        margin: 0px !important;
    }

    .tile .large-item-properties .large-item-property span:nth-of-type(1) {
        font-size: 15px !important;
        line-height: 18px !important;
        display: block;
    }

    .tile .large-item-properties .large-item-property span:nth-of-type(2) {
        font-size: 18px !important;
        line-height: 24px !important;
        font-weight: bold;
        display: block;
        padding-bottom: 8px;
        min-height: 32px;
    }

    .tile .large {
        width: 320px !important;
        height: auto !important;
        padding: 0px 16px 8px 8px !important;
        min-height: 340px;
    }

    .tile .large-item-text-container {
        width: 288px !important;
        height: auto !important;
    }

    .tile .large-item-properties {
        width: 288px !important;
        margin: 0px !important;
    }

    .tile .large-item-description {
        margin-left: 0;
        max-height: 24px;
        min-height: 24px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .tile .large-item-title-container {
        height: 64px !important;
        margin-left: -5px;
    }

    .tile .large-item-image-container-86x86 {
        width: 64px !important;
        height: 64px !important;
        margin-left: -20px;
        padding: inherit;
    }

    .tile .large-item-image-vcenter-62x62 {
        width: 48px !important;
        height: 48px !important;
    }

    .tile .item-title-vcenter {
        font-size: 21.6px !important;
        line-height: 62px !important;
        display: block;
        font-weight: bold;
        height: 62px !important;
        min-width: 224px !important;
        padding: 0px !important;
    }

    .tile .large-item-properties .large-item-property {
        height: auto !important;
    }

    .tile {
        width: 328px !important;

        .wide {
            height: 100%;
            width: 100% !important;
        }
    }

    .tile .wide-item-text .wide-item-title {
        font-size: 21.6px !important;
    }

    .tile .wide-item-text .wide-item-description-single {
        font-size: 18px !important;
        color: #464646;
    }

    .tile .wide-item-properties {

        .wide-item-property-value {
            font-size: 18px !important;
            color: #464646;
        }

        .wide-item-property-name {
            margin-top: 12px !important;
        }

        .wide-item-property-value {
            margin-top: 0px !important;
        }

        .wide-item-property {
            padding-left: 16px !important;
        }

        .wide-item-property .property-value {
            font-size: 18px;
            padding: 0 !important;
        }
    }

    .tile .wide-item-indicators {
        padding-top: 8px;
        padding-bottom: 16px;
        margin-left: 16px;

        .indicator-icon {
            height: 24px;
            width: 24px;
        }
    }

    .tile img[src="common/icons/typeTask48.svg"] {
        height: 48px;
        width: 48px;
    }

    .tile .wide-item-indicators .indicators-icon {
        animation: blinker 1s linear infinite;
        color: red;
    }

    .fa-4x.sit {
        font-size: 31.11px !important;
    }

    .property-grid-col-value-fixed {
        padding-right: 0px !important;
    }

    .property-grid-horizontal-fixed-layout.x2 .property {
        padding-left: 16px !important;
    }

    .commandBarRightMarginForActionButton {
        width: 16px !important;
    }

    .tile-container .tile {
        margin: 0 8px 8px 0 !important;
        min-height: 80px;
        width: 320px;
    }

    .filter-quick-search {
        height: 32px !important;
    }

    #itemCollectionCanvas {
        margin-top: 8px;
    }

    .otl-tile-container {
        height: 100%;
    }

    td > select {
        min-height: @height !important;
        font-size: 18px !important;
        line-height: 32px !important;
    }

    .top-command-bars {
        width: 100%;
        width: -webkit-fill-available;
    }

    [name*='filterForm'] > button {
        margin: 8px 16px 8px 8px !important;
        min-height: 48px !important;
    }

    .m-progress-bar {
        min-height: @height/2;
        background-color: @background-color;
        margin-top: 5px;
        font-size: 15px;
        font-weight: bold;
    }

    .m-value {
        display: block;
        font-size: 18px;
        font-weight: bold;
        margin-right: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .s-value {
        display: block;
        font-size: 15px;
        font-weight: bold;
        margin-right: 64px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .m-value-bold {
        .m-value;
        font-weight: bold;
    }

    .m-value-title {
        display: block;
        font-size: 16px;
        height: @height/2;
        margin-right: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .m-value-div {
        display: inline-block;
    }

    .otl-flex-row,
    .otl-flex-column {
        display: flex;
        overflow: hidden;
        height: 100%;
        width: 100%;
    }

    .otl-flex-row {
        flex-flow: row;
    }

    .otl-flex-column {
        flex-flow: column;
    }
    // Platform property grid overload
    sit-property-grid-layout {
        sit-property {
            span {
                font-size: 18px !important;
            }

            .pl-label {
                font-weight: 600;
            }
        }

        &.pl-property-grid-list {
            sit-property {
                // Fix for fluid issue on IE
                display: flex;
            }
        }
    }

    sit-property-grid-layout > sit-property > div {
        font-size: 18px !important;
        line-height: 28.5px !important;
    }
    // Platform progress-stepper overload
    .standard-label-progress-stepper {
        .list {
            height: 50px;
            margin-left: 0;
            border: 0;

            .list-item {
                height: 48px;
                text-align: center;
                border-bottom: 1px solid #d2d2d2;
                border-top: 1px solid #d2d2d2;

                .list-item-label {
                    font-size: 18px;
                    max-width: none;
                    line-height: 48px;
                    color: white;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .selected {
                    font-weight: bold;
                }

                &:first-child {
                    border-radius: 24px 0 0 24px;
                    border-left: 1px solid #d2d2d2;
                }

                .single-item {
                    border-radius: 24px;
                    border: 1px solid #d2d2d2;
                }

                &:last-child {
                    border-radius: 0 24px 24px 0;
                    border-right: 1px solid #d2d2d2;
                }
            }

            .list-item.active-step::after {
                background: inherit;
            }

            .list-item::after {
                background: inherit;
            }

            .list-item:not(:last-child)::after {
                border-top-color: @operation-diagram-border-color;
                border-right-color: @operation-diagram-border-color;
                right: -13px;
                width: 26.088px;
                height: 26.088px;
                margin-top: 11px;
            }
        }
    }

    .cockpit-taskDetail-container {
        margin: 0 10px;

        &.reduce {
            min-height: 48px;
        }

        &.normalSize {
            min-height: 120px;
        }

        h3 {
            font-size: 21.4px;
            font-weight: 600;
            width: calc(100% - 36px);
        }

        .collapse-btn {
            display: inline-block;
            height: 32px;
            width: 32px;
            vertical-align: bottom;

            &.down {
                background: url('../../common/icons/miscDownArrow16.svg');
            }

            &.up {
                background: url('../../common/icons/miscUpArrow16.svg');
            }

            &:hover {
                cursor: pointer;
            }
        }

        .emptyItemHeader {
            background-color: #E3FAFF;
            border: 1px solid #A3DDEA;
            padding: 9px;

            span {
                font-size: 18px;
                font-weight: 400;
                color: #464646;
            }
        }

        .expr-task-detail-to-collapse {
            &.collapsed {
                display: none;
            }

            &.notCollapsed {
                display: block;
            }

            .cockpit-taskDetail-operations {
                margin-top: 20px;
                overflow-x: auto;
            }
        }
    }
    // OTL Tags
    .pi-otl-tag-container {
        width: 100%;
        margin-left: 16px;
    }

    div.pi-otl-tag-element {
        display: flex;
        float: left;
        margin: 12px 8px 0 2px;
        padding: 7px 8px 8px 8px;
        border-radius: 18px;
        font-size: 14.4px;
        border: 1px solid #005f87;
        color: #005f87;
        min-width: 40px;
        max-width: 256px;
        height: 36px;
        font-weight: 600;
    }

    span.pi-otl-tag-element-inside {
        display: table-cell;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 215px;
    }

    em.pi-otl-close-button {
        display: table-cell;
        background-image: url(../../common/icons/cmdCloseTab16.svg);
        filter: invert(0%) sepia(33%) saturate(3937%) hue-rotate(181deg) brightness(87%) contrast(101%);
        width: 16px;
        height: 16px;
        margin: 2px 0 0 8px;
    }
    // END OTL Tags
    .error {
        animation: blinker 1s linear infinite;
        color: red;
    }

    #itemCollectionViewerContainer {
        height: calc(100% + 23px) !important;

        > div {
            height: calc(100% + 44px) !important;
        }

        #itemCollectionCanvas {
            height: calc(100% - 38px) !important;
        }

        #tileViewDiv {
            height: calc(100% + -56px) !important;
        }

        #gridViewDiv {
            height: calc(100% + -80px) !important;
        }

        #gridContainerDiv {
            height: 100% !important;

            div {
                .ngGrid {
                    height: 100% !important;

                    #data-container {
                        height: calc(100% + -29px) !important;
                        overflow-y: auto;
                        overflow-x: hidden;

                        .ngCanvas {
                            height: 100% !important;
                        }
                    }
                }
            }
        }

        #data-container {
            height: 100% !important;
        }

        .sit-icv-footer-infinite-scroll {
            display: none;
        }
    }
}

.task-execution-button-panel {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 8px 0 0 8px;
}

.WorkOrderParametersList table[sit-table="piList"] {
    overflow-x: inherit;
}
