#expr-Production-Ctx-Form {
    width: 300px;

    .line-group {
        height: 32px;
        text-align: right;

        span {
            vertical-align: top;
        }

        sit-toggle-button {
            display: inline-block;
        }
    }

    .margin-top{
        margin: 16px;
    }
}
