<div id="HierarchyTreeContainer" class="content-area content-area-relative" ng-hide="vm.hideTree">
    <div class="tree-section">

        <script type="text/ng-template" id="nodes_renderer.html">
            <div ui-tree-handle class="row tree-node-content" ng-class="{'piselected': vm.currentItem.selected && node.EquipmentNId === vm.currentItem.EquipmentNId, 'pi-tree-readonly': vm.readOnly}">
                <div style="float: left; min-width: 10px; margin-left: 10px">
                    <a class="fa fa-plus-square-o" ng-class="{'fa fa-minus-square-o': !collapsed , 'fa fa-plus-square-o': (collapsed || node.ChildrenNodes && node.ChildrenNodes.length === 0), 'piselected': vm.currentItem.selected && node.EquipmentNId === vm.currentItem.EquipmentNId}" style="font-size:1.3em; margin-top: 7px" data-nodrag ng-click="vm.toggle(this, node)" ng-if="node.HasChildren || (node.ChildrenNodes && node.ChildrenNodes.length > 0)"></a>
                    <a class="tree-node-content" data-nodrag ng-click="vm.itemClicked(node)" ng-class="{
						  'piselected': vm.currentItem.selected && node.EquipmentNId === vm.currentItem.EquipmentNId
						}">
                        <span class="pi-master" ng-class="{
						  'piselected': vm.currentItem.selected && node.EquipmentNId === vm.currentItem.EquipmentNId
						}">
                            {{node.EquipmentNId}}
                        </span>
                        <div class="w-100"></div>
                        <span ng-show="vm.showDetail" class="detail" style="padding-left: 3px;" ng-class="{
						  'piselected': vm.currentItem.selected && node.EquipmentNId === vm.currentItem.EquipmentNId
						}">
                            {{node.EquipmentTypeNId}}
                        </span>
                    </a>
                </div>
                <div style="float: right; margin-right: 10px">
                    <a class="pull-right tree-node-name fa fa-trash" ng-if="!vm.readOnly && vm.currentItem.selected && node.EquipmentNId === vm.currentItem.EquipmentNId" data-nodrag ng-click="vm.remove(this, node)" ng-class="{
						  'piselected': vm.currentItem.selected && node.EquipmentNId === vm.currentItem.EquipmentNId, empty
						}" style="padding-right:5px; padding-top:7px">
                        <span></span>
                    </a>

                </div>
            </div>
            <div>
                <ol ui-tree-nodes ng-model="node.ChildrenNodes" ng-class="{hidden: collapsed}">
                    <li ui-tree-node ng-repeat="node in node.ChildrenNodes" data-expand-on-hover="200" ng-include="'nodes_renderer.html'">
                    </li>
                </ol>
            </div>
        </script>

        <div class="row">

            <div ui-tree="vm" id="tree-root" class="angular-ui-tree menu-tree" data-drag-enabled="!vm.readOnly" data-drag-delay="200" style="min-width: 100%;">
                <ol ui-tree-nodes ng-model="vm.hierarchy.tree" class="angular-ui-tree-nodes">
                    <li ui-tree-node ng-repeat="node in vm.hierarchy.tree" data-expand-on-hover="200" ng-include="'nodes_renderer.html'"></li>
                </ol>
            </div>

        </div>

    </div>
</div>
<table aria-describedby="Tree">
    <tr>
        <th scope="col" ng-if="vm.hideTree" ng-style="ICVController.collectionStyle" style="font-size: large; padding-left: 10px; padding-top: 38px">
            {{vm.noDataTemplateValue}}
        </th>
    </tr>
</table>