<div class="graphbackground" ng-show="GraphCtrl.isGraphValid">
    <div>
        <div ng-show="GraphCtrl.sitOptions.zooming" class="graphZoomControl">

            <div class="zoom">{{'Graph.zoom'| translate}}: &nbsp;</div>

            <input class="graphZoomControlInput" id="zoomControlInput" type="range" min="1" max="8" ng-model="zoomLevel" step=".1" />
            <button class="btn btn-info graphAutoFit" ng-click="GraphCtrl.autoFit()"> {{'Graph.autoFit'| translate}} </button>
            <button class="btn btn-info panAndZoom" ng-click="GraphCtrl.showPanWindow()"> {{'Graph.panAndZoom'| translate}} </button>
        </div>
    </div>
    <div data-internal-type="graphwrapper" class="graphWrapperMain">
        <svg data-internal-type="graphsvg" width="500" height="500"></svg>
    </div>
    <div ng-show="GraphCtrl.sitOptions.zooming" class="panZoom" ng-class="GraphCtrl.showPan==1?'pan':'panHidden'">
        <svg data-internal-type="panWindow">
            <g></g>
        </svg>
    </div>
</div>
<label ng-show="!GraphCtrl.isGraphValid">{{graphError}}</label>